webapp/src/main/java/com/getjavajob/training/web06/andrianovan/quiz/ui/xmlserializer/quiz.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="list">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="quiz">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="text"/>
                            <xs:element name="questions">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="question" maxOccurs="unbounded" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string" name="text"/>
                                                    <xs:element name="answers">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="answer" maxOccurs="unbounded"
                                                                            minOccurs="0">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element type="xs:string" name="text"/>
                                                                        </xs:sequence>
                                                                        <xs:attribute type="xs:string" name="isCorrect"
                                                                                      use="optional"/>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute type="xs:string" name="questionType" use="optional"/>
                                                <xs:attribute type="xs:byte" name="weight" use="optional"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>